<div class="col-md-2">
    <div class="thumbnail <%= incoming_bg %>">
        <%= link_to incoming_path do %>
            <%= image_tag incoming_icon, :style => "width:100%" %>
            <div class="caption">
                <p align="center"><%= incoming_label %></p>
            </div>
        <% end %>
    </div>
</div>