<% title 'Show Tag' %>

<%= form_for @tag do |f| %>
    <table>
        <tr>
            <th>Name</td>
            <td><%= @tag.name %></td>
        </tr>
    </table>
<% end %>

<%= render partial: 'layouts/search_item_buttons', locals: { entity: @tag } %>
